<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.radosav.privatnabiblioteka">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.radosav.privatnabiblioteka.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.radosav.privatnabiblioteka.BookListActivity" android:parentActivityName="com.example.radosav.privatnabiblioteka.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.radosav.privatnabiblioteka.AuthorListActivity" android:parentActivityName="com.example.radosav.privatnabiblioteka.MainActivity"/>
        <activity android:name="com.example.radosav.privatnabiblioteka.GenreListActivity" android:parentActivityName="com.example.radosav.privatnabiblioteka.MainActivity"/>
        <activity android:name="com.example.radosav.privatnabiblioteka.AddBook" android:parentActivityName="com.example.radosav.privatnabiblioteka.MainActivity"/>
        <activity android:name="com.example.radosav.privatnabiblioteka.UpdateBookActivity" android:parentActivityName="com.example.radosav.privatnabiblioteka.MainActivity"/>
        <activity android:name="com.example.radosav.privatnabiblioteka.AddAuthor" android:parentActivityName="com.example.radosav.privatnabiblioteka.MainActivity"/>
        <activity android:name="com.example.radosav.privatnabiblioteka.UpdateAuthorActivity" android:parentActivityName="com.example.radosav.privatnabiblioteka.MainActivity"/>
        <activity android:name="com.example.radosav.privatnabiblioteka.UpdateGenreActivity" android:parentActivityName="com.example.radosav.privatnabiblioteka.MainActivity"/>
        <activity android:name="com.example.radosav.privatnabiblioteka.AddGenre" android:parentActivityName="com.example.radosav.privatnabiblioteka.MainActivity"/>
    </application>

</manifest>